data/*
!data/.gitkeep
!data/output/.gitkeep
visualize_accelerometry/data
.idea
.DS_Store
visualize_accelerometry/__pycache__
__pycache__/
.ipynb_checkpoints
scratch_books/
dask-worker-space/
logs/
hpc_utils/logs/*
!hpc_utils/logs/.gitkeep
hpc_utils/server_info.txt
hpc_utils/dask.log
docs/_build/
credentials.json
dist/
*.egg-info/
build/
